:root{
    --gris-oscuro-color: #1d3252c;
    --gris-claro-color: #626262;
    --backgroun-gris-color: #1b2127;
    --celeste: #026FFF;

}


body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;

}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    color: white;
}
h1 strong{
    color: var(--celeste);
}
.project-details{
    width: 500px;
}
.project-image-container{
    width:500px;
}

.hero{
    height:300px;
    background-image: url(./pexels-photo-1549702.jpeg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: var(--backgroun-gris-color);
}

.header{
    background-color: var(--backgroun-gris-color);
    color: white;
}
.header a{
    color: white;
    text-decoration: none;
}
.header ul{
    list-style: none;
}